####################################
# Node.js
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# Environment variables
####################################
.env

####################################
# Build / Dist
####################################
dist/
build/

####################################
# Coverage / Test
####################################
coverage/
src/scripts/


####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/

####################################
# Runtime Data & Logs
####################################
data/
logs/
*.log

6+